<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Index Page</title>
  </head>
  <body>
    <% if(user) {%>

    <h1><%= user.username %></h1>
        <h1><%= user.first_name %></h1>
    <h1><%= user.last_name %></h1>
    <h1><%= user.membership_status %></h1>
    <h1><%= user.created_at %></h1>

    <a href="/log-out">LOG OUT</a>
    <%} else{%>
        <h1> You are not logged in</h1>
    <%}%>
  </body>
</html>
